
<!DOCTYPE html>
<html class="ua-win ua-wk">
<head>
    <meta name="referrer" content="always"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=8"/>
    <meta name="saoatech-site-verification" content="N2Y5MzU2M2YyNmVhOTllMGQwYmI4NzAwMTIxYmE2ZDU=" />
    <title>英语翻译秘书,北京根炬科技发展有限公司,北京招聘,大街网</title>
    <link rel="shortcut icon" href="https://assets.dajieimg.com/images/favicon.ico" />
    <meta content="北京根炬科技发展有限公司招聘北京根炬科技发展有限公司招聘英语翻译秘书的信息由北京根炬科技发展有限公司在大街网独家发布，让你一目了然了解北京根炬科技发展有限公司招聘北京根炬科技发展有限公司招聘英语翻译秘书的要求，同时大街网还提供北京根炬科技发展有限公司招聘北京根炬科技发展有限公司招聘英语翻译秘书的薪资待遇等关键信息。" name="description"/>
    <meta content="北京根炬科技发展有限公司招聘北京根炬科技发展有限公司招聘英语翻译秘书,北京根炬科技发展有限公司,北京根炬科技发展有限公司招聘,招聘英语翻译秘书,英语翻译秘书待遇,大街网,兼职招聘,校园招聘,名企招聘,名企项目,dajie.com" name="keywords"/>
    <meta name="mobile-agent" content="format=xhtml;url=//m.dajie.com/detail/db8f3483-2c78-4832-8b86-7383ea7531b7" />
    <meta name="mobile-agent" content="format=html5;url=//m.dajie.com/detail/db8f3483-2c78-4832-8b86-7383ea7531b7" />
    <meta name="Title" content="想做「英语翻译秘书」的朋友看过来！[北京根炬科技发展有限公司]正在高薪招聘牛人…" />
    <meta name="location" content="province=北京;city=北京" />
    <link rel="alternate" type="application/vnd.wap.xhtml+xml" media="handheld" href="//m.dajie.com/detail/db8f3483-2c78-4832-8b86-7383ea7531b7" />
    <script type="text/javascript">
        var _head_start = new Date();var _current_date = '2018-01-31 14:45:09';
        var CSRFToken = '';
    </script>
    <link rel="stylesheet" type="text/css" href="https://assets.dajieimg.com/css/dajie.63135.css"/>
    <link rel="stylesheet" type="text/css" href="https://assets.dajieimg.com/??/up/b2c/css/item.57207.css,/up/djAds/skillgo/bd_skillgo_job.55592.css,/up/invitation2013/b-candidate/css/b_change/job-detail.63044.css,/up/dj-mobile/dynamic-test/css/web-layer.60378.css,/up/sz/job/job.63033.css,/up/b2c/lib/share/share.62568.css"/>
    <script type="text/javascript" src="https://assets.dajieimg.com/js/dajie.63135.js"></script>
    <script type="text/javascript" src="https://assets.dajieimg.com/??/up/b2c/js/base.57135.js,/up/job-v2/js/jquery.menu-aim.55129.js,/up/b2c/js/jd-analysis-map.57135.js,/up/djAds/js/ad-base.62029.js,/up/djAds/skillgo/bd_skillgo.55780.js,/up/b2c/js/jd-namecard.62383.js,/up/b2c/js/jd-float-map.59002.js,/up/dj-mobile/dynamic-test/js/web-layer-seeker.61732.js,/up/b2c/js/jd-position-n.62647.js,/up/b2c/lib/share/share.62615.js,/up/b2c/js/job-detail-2017.63044.js,/js/jquery.photoUpLoad.63044.js"></script>
    <script type="text/javascript" src="https://assets.dajieimg.com/static/libs/seajs/sea.54668.js"></script>
    <script id="djnew" type="text/javascript" src="https://assets.dajieimg.com/static/libs/street/street.59909.js"></script>
    <script type="text/javascript">
        $.domains = {
            www : "www.dajie.com",
            assets : "assets.dajieimg.com"
        };
    </script>
</head>
<body >
<script type="text/javascript">var  _body_start = new Date();</script>
    <div id="J_djResourcesVersion" style="display: none;">
        <input type="hidden" name="env" value="online"/>
        <input type="hidden" name="bigVersion" value="63135"/>
            <input type="hidden" name="rollbackId" value="1"/>
    </div>
    <div id="dj-header-wrap" class="dj-header-wrap">
        <div id="header-fix" class="dj-header-fix ">
<div class="dj-header" id="header">
            <div class="logo-wrap">
                <a href="https://www.dajie.com" class="logo"></a>
            </div>
            <div class="menu">
                <div class="menu-center">
                    <ul>
			<li class="dj-header-ai-inv"><a href="https://ai.dajie.com?f=nav" class="" data-current="AIRECRUIT"><span>AI专区</span><span class="ai-icon"></span></a>
                        </li>
                        <li class="hasMore"><a href="https://job.dajie.com" class="" data-current="JOB"><span>职位<em class="imgIcon"></em></span></a>
                            <div class="subnav-hd">
                                <ul>
                                    <li><a href="https://job.dajie.com"><span>全职<em></em></span></a></li>
                                    <li><a href="https://job.dajie.com/job/parttime/index"><span>兼职<em></em></span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class=""><a href="https://www.dajie.com/corp/?f=nav" class="" data-current="CORP"><span>公司</span></a>
                        </li>
                        <li class="dj-header-changeNav"><a href="https://campus.dajie.com/index"><span>校园</span><span class="school-icon">学生</span></a>
                        </li>
                        <li class="hasMore widthApp"><a href="" class="" data-current=""><span>APP<em class="imgIcon"></em></span></a>
                            <div class="subnav-hd">
                                <ul>
                                    <li><a href="https://www.dajie.com/html/phone/?f=nav"><span>大街APP<em></em></span></a></li>
                                    <li><a href="https://www.dajie.com/html/businessphone/?f=nav"><span>企业版APP<em></em></span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu-right" id="unlogin-header-region">
                    <a href="https://www.dajie.com/account/reg?from=header" class="register" title="注册" id="J-header-signin">注册</a><a href="https://www.dajie.com/account/login" class="login" title="登录" id="J-header-login">登录</a><a href="https://job.dajie.com/business/account/login?from=recruitlogin&f=professional" class="recruit">我要招聘</a><a class="search-hd-btn" href="javascript:;"><i class="icon-search"></i></a>
                </div>
            </div>
            <div class="search-top">
                <form action="https://so.dajie.com/job/search" method="get">
                    <div class="menu-center">
                        <ul>
                            <li class="hasMore"><a href="javascript:void(0);"><span class="searchTxt">职位<em class="imgIcon"></em></span></a>
                                <div class="subnav-hd">
                                    <ul>
                                        <li style="display: none"><a href="" data-href="https://so.dajie.com/job/search" data-name="keyword" data-holder="请输入职位名称" data-match="job" data-text="职位"><span>职位<em></em></span></a></li>
                                        <li><a href="" data-href="https://so.dajie.com/corp/search" data-name="keyword" data-holder="请输入公司名称" data-match="corp" data-text="公司"><span>公司<em></em></span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="search-top-input">
                        <input type="text" class="searchInput" placeholder="请输入职位名称" name="keyword" data-match="job" autocomplete="off"/>
                        <div class="searchInputList">
                            <ul>
                            </ul>
                        </div>
                        <button type="submit" class="search-btn">开始搜索</button><input type="hidden" name="f" value="nav"><a href="" class="closeAll"></a>
                    </div>
                </form>
            </div>
        </div>
<script>
    // 导航下拉菜单交互 + 搜索交互
    $(function(){
        var matchbox = {
            init : function(args){
                this.$body = $('body')
                this.$el = args.$el;
                this.$tipWrap = args.$tipWrap;
                this.$tip = this.$tipWrap.find('ul');
                this.clsTipHover = 'hover-search';
                this.cached = {};
                this.bind();
                this.render = template.compile('<%' +
                'for(var i=0,len=list.length; i<len; i++){' +
                'var item = list[i]' +
                '%>' +
                '<li data-value="<%= item.keyName%>"><a href="javascript:void(0);"><%= item.keyName%></a></li>' +
                '<% } %>');
                this.timer = null;
            },
            bind : function(){
                var _this = this;
                $(document).bind('click.djHeaderSearchBlur', function(){
                    _this.$tipWrap.hide();
                });
                this.$el.bind('click', function(e){
                    var bol_fetch = _this.$tipWrap.filter(':visible').length == 0;
                    if(bol_fetch){
                        _this.fetch();
                    }
                });
                this.$el.bind('blur', function(e){
                    _this.$tipWrap.hide();
                });
                this.$el.bind('keydown', function(e){
                    return _this.handlerKeydown(e);
                });
                this.$el.bind('keyup', function(e){
                    return _this.handlerKeyup(e);
                });
                this.$tip.delegate('li', 'mousedown', function(){
                    var $this = $(this);
                    var value = $this.attr('data-value');
                    _this.$el.val(value);
                    _this.$el.closest('form').submit();
                });
                this.$tip.delegate('li', 'mouseenter', function(){
                    $(this).addClass(_this.clsTipHover)
                });
                this.$tip.delegate('li', 'mouseleave', function(){
                    $(this).removeClass(_this.clsTipHover)
                });
            },
            build : function(data){
                var html = this.render(data);
                this.$tip.html(html);
                this.$tipWrap[data.list.length ? 'show' : 'hide']();
            },
            urlMap : {
                job : /\.ui$/.test(location.host) ? '/up/autoheader/json/search-suggest.php?job=1' : 'https://so.dajie.com/job/ajax/nav/keyword',
                corp : /\.ui$/.test(location.host) ? '/up/autoheader/json/search-suggest.php?corp=1' : 'https://so.dajie.com/corp/ajax/nav/keyword'
            },
            fetch : function(){
                var matchType = this.$el.attr('data-match');
                var _this = this;
                if(!matchType) return;
                clearTimeout(this.timer);
                this.timer = setTimeout(function(){
                    var val = $.trim(_this.$el.val());
                    var key = matchType + encodeURI(val);
                    var result = _this.cached[key];
                    if(result){
                        _this.build(result);
                        return;
                    }
                    $.ajax({
                        url : _this.urlMap[matchType],
                        type : 'get',
                        dataType : 'jsonp',
                        data : {
                            keyword : val,
                            match : matchType
                        },
                        success : function(r){
                            if(r.result == 0){
                                _this.build(r.data);
                                _this.cached[key] = r.data;
                            }
                        }

                    });
                }, 100);
            },
            handlerKeydown : function(e){
                var code = e.keyCode;
                switch(code){
                    case  38:
                        // 上一条
                        e.preventDefault();
                        this.handlerSelectItem('up');
                        break;
                    case 40 :
                        // 下一条
                        e.preventDefault();
                        this.handlerSelectItem('down');
                        break;
                }
            },
            handlerKeyup : function(e){
                var code = e.keyCode;
                switch(code){
                    case 37:
                    case 38:
                    case 39:
                    case 40 :
                        return;
                    default :
                        this.fetch();
                }
            },
            handlerSelectItem : function(type){
                var items = this.$tip.find('li');
                var length = items.length-1;
                var clsTipHover = this.clsTipHover;
                var index = items.index(items.filter('.'+clsTipHover));
                var newIndex = type == 'up' ? index -1 : index+1 > length ? 0 : index+1;
                if(index == -1){
                    items[type == 'up' ? 'last' : 'first']().addClass(clsTipHover);
                }else{
                    items.removeClass(clsTipHover);
                    items.eq(newIndex).addClass(clsTipHover);
                }
                var value = items.filter('.'+clsTipHover).attr('data-value');
                this.$el.val(value);
            }
        };
        (function(){
            var HeaderNav = (function(){
                var handler_show_menu = function(){
                    $(this).addClass('open');
                };
                var handler_hide_menu = function(){
                    $(this).removeClass('open');
                };
                var utilAjaxJsonp = function(api, callback, data){
                    $.ajax({
                        url: api,
                        dataType: 'jsonp',
                        data: data || null,
                        jsonp: 'callback',
                        success: function(r){
                            callback && callback(r)
                        },
                        error: function(){
                            console.log('error');
                        }
                    });
                };

                var HeaderNav = function(){
                    this.$headerWrap = $('#dj-header-wrap');
                    this.$djHeader = $('.dj-header');
                    this.$messageTips = $('#dj-header-wrap .message-tips');
                    this.$userBox = $('#dj-header-wrap .uesr-box');
                    this.$messageBox = this.$messageTips.find('.message-box');
                    this.$userStuff = this.$userBox.find('.user-stuff');
                    this.$searchInput = $('#dj-header-wrap .searchInput');
                    this.$searchTop = $('#dj-header-wrap .search-top');
                    this.navType = $.cookie('dj_nav') != null ? $.cookie('dj_nav') : '1'; //0=校园 1=白领
                    this.currentChannel = _staticHeader['currentChannel'];
                };
                HeaderNav.prototype.init = function(){  //C端初始化
                    var self = this;
                    self.render_current_header();
                    self.bindEvent();
                };
                HeaderNav.prototype.render_current_header = function(){//当前一级导航
                    var self = this;
                    $('#header .menu .menu-center a').each(function(){
                        if(self.currentChannel != undefined && self.currentChannel == $(this).attr('data-current')) {
                            $(this).addClass('current');
                        }
                    });
                };
                HeaderNav.prototype.bindEvent = function(){
                    var self = this;
                    self.$headerWrap.delegate('.menu-center .hasMore', 'mouseover', handler_show_menu);
                    self.$headerWrap.delegate('.menu-center .hasMore', 'mouseleave', handler_hide_menu);
                    //搜索框展开关闭
                    self.$headerWrap.delegate('.menu-right .search-hd-btn', 'click', function(e){
                        e.preventDefault();
                        self.$djHeader.addClass('close');
                        self.$searchTop.fadeIn(100);
                        self.$searchInput.focus();
                    });
                    self.$headerWrap.delegate('.search-top .closeAll', 'click', function(e){
                        e.preventDefault();
                        self.$djHeader.removeClass('close');
                        self.$searchTop.fadeOut(100);
                    });
                    //搜索框下拉交互
                    self.$headerWrap.delegate('.search-top .subnav-hd li a', 'click', self.handler_change_mode);

                    //历史搜索
                    matchbox.init({
                        $el : self.$headerWrap.find('.search-top input'),
                        $tipWrap : self.$headerWrap.find('.searchInputList')
                    });

                    //导航切换
                    $('.dj-header-changeNav a').bind('click', function(e){
                        e.preventDefault();
                        var href = $(this).attr('href');
                        var url = 'https://www.dajie.com/navigation/setnav';
                        utilAjaxJsonp(url, function(r){
                            window.location.href = href;
                        }, {version:self.navType});
                    });
                };
                HeaderNav.prototype.handler_change_mode = function(e){
                    e.preventDefault();
                    var $this = $(this);
                    var index = $this.index();
                    var href = $this.attr('data-href');
                    var name = $this.attr('data-name');
                    var holder = $this.attr('data-holder');
                    var match = $this.attr('data-match');
                    var text = $this.attr('data-text') + '<em class="imgIcon"></em>';
                    var $form = $this.closest('form');
                    var $input = $form.find('.searchInput');
                    var $span = $form.find('.searchTxt');
                    var $li = $this.parent('li');
                    $form.attr('action', href);
                    $input.attr('name', name);
                    $input.attr('placeholder', holder);
                    $input.attr('data-match', match);
                    $span.html(text);
                    $li.siblings().show();
                    $li.eq(index).hide();
                    handler_hide_menu.call($this.closest('.hasMore'));
                };

                return HeaderNav;
            })();

            var headerNav = new HeaderNav();
            headerNav.init();
        })();
    });
</script>        </div>
    </div>
    <script type="text/javascript">
        var is_login = $.cookie('dj_auth') != null || $.cookie('dj_auth_v3') != null; //必须是全局变量，别的项目有用
        window['is_login'] = is_login;
        _staticHeader = {
            isMini : true,
            isC : false,
            isRecruit : false,
            currentChannel: 'JOB',
            isBusinessCorp: false,
            isResumeSearch: false,
            isRecruitAuditing: false,
            auditStatus:0
        };
    </script>
<div class="dj-content-wrap " id="dj-content-wrap">
    <div class="dj-content-inner">
            <div class="dj-content-shadow">
<div class="p-banner" style="background:url(https://f1.dajieimg.com/n/file/T1y1ATBTAT1RXrhCrK_c.jpg) 50% 0">
    <div class="p-banner-in">
        <span class="vip"></span>
        <img class="p-banner-pad" src="https://f1.dajieimg.com/n/file/T1y1ATBTAT1RXrhCrK_c.jpg">
    </div>
</div>
<input type="hidden" name="jid" value="db8f3483-2c78-4832-8b86-7383ea7531b7">
<div class="p-wrap " id="jp-app-wrap"> <!-- student 学生版 去掉为白领版-->
    <div id="scrollTools" class="fix-top" style="display: none;">
        <div class="p-side-left">
            <div class="job-msg-top">
                <div class="job-msg-top-text">
                    <span class="job-name" title="英语翻译秘书">英语翻译秘书</span>
                        <span class="blue-icon">（全职）</span>
                </div>
                <span class="job-money">5K+元/月</span>

                    <a href="" class="deliver jp_apply_btn" stat="201707_jdpc_4">投递</a>

                        <span class="collect jp_fav_btn" stat="201707_jdpc_3"><i></i><span>收藏</span></span>
            </div>
        </div>
    </div>
    <div class="p-wrap-box">
        <div id="yellow-tips-reg" class="yellow-tips smallB"></div>
        <div class="p-side-left">
            <div class="job-msg">
                <div class="job-msg-top">
                    <div class="job-msg-top-text">
                        <span class="job-name" title="英语翻译秘书">英语翻译秘书</span>
                            <span class="blue-icon">（全职）</span>
                    </div>
                    <span class="job-money">5K+元/月</span>

                        <a href="" class="deliver jp_apply_btn">投递</a>

                            <span class="collect jp_fav_btn" stat="201707_jdpc_3"><i></i><span>收藏</span></span>
                </div>
                <div class="job-msg-center">

                    <ul>
                        <li class="ads"><i></i><span>北京</span></li>
                        <li class="recruiting"><i></i><span>1&nbsp;人</span></li>
                            <li class="exp"><i></i><span>3年及以上工作经验</span></li>
                            <li class="edu"><i></i><span>本科及以上</span></li>
                    </ul>
                </div>
                <div class="job-msg-bottom">
                    <ul>
                            <li>五险一金</li>
                            <li>晋升空间大</li>
                            <li>带薪年假</li>
                            <li>绩效奖金多</li>
                            <li>优秀团队</li>
                            <li>办公环境好</li>
                            <li>员工旅游</li>
                            <li>周末双休</li>
                            <li>免费体检</li>
                            <li>节日福利</li>
                            <li>新能源行业</li>
                            <li>英语翻译</li>
                    </ul>
                    <span class="date">发布于2018-01-10</span>
                </div>
            </div>
            <div class="job-jbTxt">
                <!-- <div class="triangle"></div> -->
                大街网提示您：如果发布虚假招聘信息、虚假广告，或以任何名义向求职者收取财物（如培训费、办卡费、押金、
                身份证、毕业证等），均属违法行为，请求职者务必提高警惕。一经发现此情况。
                <a href="javascript:void(0);">请立即举报<i></i></a>
            </div>

            <div class="person-msg" stat="201707_jdpc_1">
                <dl>
                    <a href="//www.dajie.com/profile/card/Wn9V4xGS5PE*">
                        <dt><img src="https://f1.dajieimg.com/group1/M00/00/11/CgogqlEt30eANrHNAAARmZq2y0U017mm.gif" alt=""><span class="sex man"></span></dt>
                        <dd>
                            <p><span class="person-name">张霖</span><span class="two"></span></p>
                            <p><span class="person-company">北京根炬科技发展有限公司 副总经理</span></p>
                            <p><span class="perosn-job-num">在招职位<em>5</em>个</span><span class="person-resume">简历处理率<em>22%</em></span></p>
                        </dd>
                    </a>
                </dl>
                <span class="hoverBox">
                    <a target="_blank" href="//www.dajie.com/message/compose?receiverUid=Wn9V4xGS5PE*" authority="0" data-uid="38949159" class="chat" stat="201707_jdpc_2">聊一聊</a>
                    <span class="time">
                        <a href="">刚刚在线</a>
                        <dl>
                            <dt>
                                <img src="//f1.dajieimg.com/n/micro_blog/T1IrdvB7Vv1R4cSCrK_c.png" alt="">
                                <span class="user-small">
                                    <img src="https://f1.dajieimg.com/group1/M00/00/11/CgogqlEt30eANrHNAAARmZq2y0U017mm.gif" alt="">
                                </span>
                            </dt>
                            <dd><p>下载app</p><p>可以直接和我聊天哦</p></dd>
                        </dl>
                    </span>
                </span>
            </div>

            <div class="position-data " id="jp_maskit"><!-- 抓站职位 添加jp_bol_slide -->
                <p class="position-data-title">职位描述</p>

                <span>招聘人数：1&nbsp;人</span>


                <pre></pre>
                <span>职位职责：</span>
                <pre>岗位职责：
1、大学本科以上学历，工业类专业；
2、有从事工业产品销售、或生产管理、或工程规划设计、或项目管理的工作经历，工作五年以上。
3、具有较强的文字表达能力，能独立完成项目方案撰写；
4、英语专业、有海外工作经验者优先；
5、熟悉智能制造、或新能源技术、或节能减排技术、或能源装备等相关技术领域者优先。

任职要求：
专业要求：工业类教育背景，如：机电一体化、自动化、机械等
学历要求：本科以上
外语要求：英语六级，具备阅读技术文件的能力，英语交流熟练
年龄：不限
薪资待遇：面议</pre>
            </div>

            <div class="operate-box">
                    <a href="" class="deliver jp_apply_btn" stat="201707_jdpc_4">投递</a>
                        <a href="" class="report btn-report" id="jp_report_illegal">举报</a>
                <span class="share social-share" data-initialized="true">分享到
                    <a href="" class="sina social-share-icon icon-weibo"></a>
                    <a href="" class="weixin social-share-icon icon-wechat"></a>
                </span>
            </div>

                <div class="ads-msg">
                    <p>工作地点</p>
                        <span>北京 海淀区 杏石口路30号坦博北京艺术中心</span>
                    <div class="map-box" id="baiduMap" style="display: none;" stat="201707_jdpc_5"></div>
                </div>

            <div class="jed-suggest-plus">
                <ul class="jed-box-list">
                        <li class="jed-box-recruit current" data-id="2">
                            <a href="javascript:;" stat="201707_jdpc_201">
                                附近其他职位
                            </a>
                        </li>
                </ul>
                    <div class="wrap" id="panel_id_2" style="display: block;">
                        <div class="jed-op">
                        <span class="click checkAllBtn">
                            <i class="checkAll"></i>
                            <em>全选</em>
                        </span>
                            <span class="deliver ">
                            <a href="javascript:;">一键投递</a>
                        </span>
                        </div>
                        <ul></ul>
                        <div class="jed-op">
                        <span class="click checkAllBtn">
                            <i class="checkAll"></i>
                            <em>全选</em>
                        </span>
                            <span class="deliver ">
                            <a href="javascript:;">一键投递</a>
                        </span>
                        </div>
                    </div>

                    <!--名企推荐,热门城市,热招职位,热招行业-->
                    <div class="add-list close">
                        <a href="javascript:;" class="open hide">展开<i></i></a>
                                <ul>
                                    <p>名企推荐</p>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1002011?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">联合利华</a>
                                        </li>
                                        <li>
                                            <a href="//loading.dajie.com/bankcomm/index.html" target="_blank">交行</a>
                                        </li>
                                        <li>
                                            <a href="//www.dajie.com/corp/1001900?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank&amp;O1IEJRqIByTAegz6ra99lgmuWYIis4cO=1" target="_blank">惠普</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1001989?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">网易</a>
                                        </li>
                                        <li>
                                            <a href="//www.dajie.com/corp/1002009/project/84101?O1IEJRqIByTAegz6ra99lgmuWYIis4cO=1" target="_blank">强生</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/2786124?clicktype=name&amp;corpsearch=0&amp;pagereferer=https%3A%2F%2Fso.dajie.com%2Fcorp%2Fsearch%3Fkeyword%3D%25E4%25BA%25AC%25E4%25B8%259C%26_CSRFToken%3D" target="_blank">联想</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1001811?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">海尔</a>
                                        </li>
                                        <li>
                                            <a href="//loading.dajie.com/nestle/index.html" target="_blank">雀巢</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1001351?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">优衣库</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1002002?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">渣打银行</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1001809?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">金山</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1001985?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">飞利浦</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1001332?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">迪卡侬</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1010945?clicktype=name&amp;corpsearch=0&amp;pagereferer=https%3A%2F%2Fso.dajie.com%2Fcorp%2Fsearch%3Fkeyword%3D%25E8%2581%2594%25E6%2583%25B3%26_CSRFToken%3D" target="_blank">去哪儿</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1000837?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">IBM</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1001964?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">搜狐</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/2920170?clicktype=name&amp;corpsearch=0&amp;pagereferer=https%3A%2F%2Fso.dajie.com%2Fcorp%2Fsearch%3Fkeyword%3D%25E9%2598%25BF%25E9%2587%258C%25E5%25B7%25B4%25E5%25B7%25B4%26_CSRFToken%3D" target="_blank">京东</a>
                                        </li>
                                        <li>
                                            <a href="//loading.dajie.com/oracle/index.html" target="_blank">甲骨文</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1001942?clicktype=name&amp;corpsearch=0&amp;pagereferer=https%3A%2F%2Fso.dajie.com%2Fcorp%2Fsearch%3Fkeyword%3D%25E5%258E%25BB%25E5%2593%25AA%25E5%2584%25BF%26_CSRFToken%3D" target="_blank">施耐德电气</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/2811939?clicktype=name&amp;corpsearch=0&amp;pagereferer=https%3A%2F%2Fso.dajie.com%2Fcorp%2Fsearch%3Fcorpsearch%3D2" target="_blank">阿里巴巴 </a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/2787043?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">爱立信</a>
                                        </li>
                                        <li>
                                            <a href="https://www.dajie.com/corp/1001858?clicktype=name&amp;corpsearch=2&amp;pagereferer=blank" target="_blank">三星</a>
                                        </li>
                                </ul>
                                <ul>
                                    <p>热门城市</p>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?cityId=310000&amp;cname=%E4%B8%8A%E6%B5%B7&amp;from=job&amp;clicktype=blank" target="_blank">上海</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%B5%8E%E5%8D%97&amp;from=job&amp;clicktype=blank" target="_blank">济南</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%B2%88%E9%98%B3&amp;from=job&amp;clicktype=blank" target="_blank">沈阳</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%8E%A6%E9%97%A8&amp;from=job&amp;clicktype=blank" target="_blank">厦门</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E9%95%BF%E6%B2%99&amp;from=job&amp;clicktype=blank" target="_blank">长沙</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?cityId=500000&amp;cname=%E9%87%8D%E5%BA%86&amp;from=job&amp;clicktype=blank" target="_blank">重庆</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E7%9F%B3%E5%AE%B6%E5%BA%84&amp;from=job&amp;clicktype=blank" target="_blank">石家庄</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%AD%A6%E6%B1%89&amp;from=job&amp;clicktype=blank" target="_blank">武汉</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%B7%B1%E5%9C%B3&amp;from=job&amp;clicktype=blank" target="_blank">深圳</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%B9%BF%E5%B7%9E&amp;from=job&amp;clicktype=blank" target="_blank">广州</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E9%95%BF%E6%98%A5&amp;from=job&amp;clicktype=blank" target="_blank">长春</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%93%88%E5%B0%94%E6%BB%A8&amp;from=job&amp;clicktype=blank" target="_blank">哈尔滨</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%90%88%E8%82%A5&amp;from=job&amp;clicktype=blank" target="_blank">合肥</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E9%9D%92%E5%B2%9B&amp;from=job&amp;clicktype=blank" target="_blank">青岛</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E8%A5%BF%E5%AE%89&amp;from=job&amp;clicktype=blank" target="_blank">西安</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E9%83%91%E5%B7%9E&amp;from=job&amp;clicktype=blank" target="_blank">郑州</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%9D%AD%E5%B7%9E&amp;from=job&amp;clicktype=blank" target="_blank">杭州</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%A4%AA%E5%8E%9F&amp;from=job&amp;clicktype=blank" target="_blank">太原</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?cityId=110000&amp;cname=%E5%8C%97%E4%BA%AC&amp;from=job&amp;clicktype=blank" target="_blank">北京</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%8D%97%E4%BA%AC&amp;from=job&amp;clicktype=blank" target="_blank">南京</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E8%8B%8F%E5%B7%9E&amp;from=job&amp;clicktype=blank" target="_blank">苏州</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%8D%97%E6%98%8C&amp;from=job&amp;clicktype=blank" target="_blank">南昌</a>
                                        </li>
                                </ul>
                                <ul>
                                    <p>热招职位</p>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%AE%A2%E6%9C%8D&amp;from=job&amp;clicktype=blank" target="_blank">客服</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%B8%B8%E6%88%8F%E8%AE%BE%E8%AE%A1&amp;from=job&amp;clicktype=blank" target="_blank">游戏设计</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E8%BF%90%E8%90%A5&amp;from=job&amp;clicktype=blank" target="_blank">运营</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%B8%82%E5%9C%BA%E7%AD%96%E5%88%92&amp;from=job&amp;clicktype=blank" target="_blank">市场策划</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E8%BF%90%E7%BB%B4%E5%B7%A5%E7%A8%8B%E5%B8%88&amp;from=job&amp;clicktype=blank" target="_blank">运维工程师</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E8%BD%AF%E4%BB%B6%E5%B7%A5%E7%A8%8B%E5%B8%88&amp;from=job&amp;clicktype=blank" target="_blank">软件工程师</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%8A%95%E8%B5%84%E9%A1%BE%E9%97%AE&amp;from=job&amp;clicktype=blank" target="_blank">投资顾问</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%AE%A2%E6%88%B7%E7%BB%8F%E7%90%86&amp;from=job&amp;clicktype=blank" target="_blank">客户经理</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%B8%A0%E9%81%93%E6%8B%93%E5%B1%95&amp;from=job&amp;clicktype=blank" target="_blank">渠道拓展</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E9%87%91%E8%9E%8D&amp;from=job&amp;clicktype=blank" target="_blank">金融</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=Java%E5%BC%80%E5%8F%91&amp;from=job&amp;clicktype=blank" target="_blank">Java开发</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E8%AE%BE%E8%AE%A1%E5%B8%88&amp;from=job&amp;clicktype=blank" target="_blank">设计师</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=PHP&amp;from=job&amp;clicktype=blank" target="_blank">PHP</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E9%94%80%E5%94%AE&amp;from=job&amp;clicktype=blank" target="_blank">销售</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E8%AF%BE%E7%A8%8B%E9%A1%BE%E9%97%AE&amp;from=job&amp;clicktype=blank" target="_blank">课程顾问</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%A4%A7%E6%95%B0%E6%8D%AE&amp;from=job&amp;clicktype=blank" target="_blank">大数据</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E4%BA%A7%E5%93%81%E7%BB%8F%E7%90%86&amp;from=job&amp;clicktype=blank" target="_blank">产品经理</a>
                                        </li>
                                </ul>
                                <ul>
                                    <p>热招行业</p>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%9C%BA%E6%A2%B0%E5%88%B6%E9%80%A0&amp;from=job&amp;clicktype=blank" target="_blank">机械制造</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E4%BA%92%E8%81%94%E7%BD%91&amp;from=job&amp;clicktype=blank" target="_blank">互联网</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E5%8C%BB%E7%96%97%E5%8D%AB%E7%94%9F&amp;from=job&amp;clicktype=blank" target="_blank">医疗卫生</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E4%BC%A0%E5%AA%92%E5%B9%BF%E5%91%8A&amp;from=job&amp;clicktype=blank" target="_blank">传媒广告</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E7%89%A9%E6%B5%81%E4%BB%93%E5%82%A8&amp;from=job&amp;clicktype=blank" target="_blank">物流仓储</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E6%95%99%E8%82%B2%E5%9F%B9%E8%AE%AD&amp;from=job&amp;clicktype=blank" target="_blank">教育培训</a>
                                        </li>
                                        <li>
                                            <a href="https://so.dajie.com/job/search?keyword=%E9%87%91%E8%9E%8D&amp;from=job&amp;clicktype=blank" target="_blank">金融</a>
                                        </li>
                                </ul>
                    </div>
            </div>
        </div>


        <div class="p-side-right">
                <div class="i-corp-base-info">
                    <a href="//www.dajie.com/corp/4928249" target="_blank">
                        <img class="image i-wrap-shadow" src="https://fs1.dajie.com/corplogo/100x100.png">
                    </a>
                    <p class="title">
                        <a href="//www.dajie.com/corp/4928249" target="_blank">北京根炬科技发展有限公司</a>
                            <b class="v" title="大街网官方认证企业"></b>
                    </p>
                    <ul class="info">
                        <li>规模<span>1 - 49人</span></li>
                        <li>行业<span>新能源</span></li>
                        <li>性质<span>私营·股份制企业</span></li>
                            <li>官网<a href="http://www.genju.com.cn" target="_blank" rel="nofollow">http://www.genju.com.cn</a></li>
                    </ul>
                    <div class="i-nc-mod corp-desc-mod">
                        <div class="i-corp-desc">
                            <span>公司简介</span>
                            <p>北京根炬科技发展有限公司长期致力于欧洲工业配套产品及应用技术的引进，为国内企业提高设备质量、提升设备等级以及降低设备维护费用提供帮助。我公司不仅为客户提供高质量技术先进的欧洲产品，而且为客户提供详尽的全中文产品技术资料、技术咨询；提供完善的、全方位的售前售后服务；提供客户与产品供应商之间的面对面的技术交流。&nbsp;我公司目前引进的产品是德国专业型企业提供的不同材料、不同类型的阀门、泵、传感器及流量测量元件。我公司的专业技术人员和销售工程师在流程工业和机械制造业领域有着丰富的技术和实践经验，我们不仅能为客户提供性能价格比高的产品，同时还能为提供客户选型和设计方面的技术指导。
公司致力于机电一体化，不断引进流程工业和机械制造业的配套产品及应用技术，为客户提供多样化的产品选择，不断引进先进技术和产品，为客户提供专业的、高质量的售前、售后服务是我们的目标。我公司及联盟在全国设有十个办事机构，有一个完整的销售和服务网络，为您提供快捷服务与新技术产品。

目前与我公司合作的德国公司有：
德国GSR公司
德国&nbsp;ATEK公司
德国&nbsp;ASV&nbsp;斯德宝公司
德国&nbsp;EA&nbsp;公司
德国&nbsp;MV&nbsp;自动化系统公司
德国&nbsp;BD&nbsp;SENSORS&nbsp;公司
德国&nbsp;MembraPure&nbsp;公司</p>
                        </div>
                        <a href="//www.dajie.com/corp/4928249" class="more">全部<i></i></a>
                    </div>
                </div>

        </div>

    </div>
</div>
<div style="display:none;" id="dialog-report-box">
    <div id="dialog-report">
        <form method="post" id="report-form">
            <h3 class="qstType">
                您要举报该职位信息存在什么问题？
                <span>
                    (类别必选)
                </span>
                <span class="tip">请选择问题类型</span>
            </h3>
            <table id="report">
                <colgroup>
                    <col width="110">
                    <col width="110">
                    <col width="*">
                </colgroup>
                <tbody>
                <tr>
                    <input type="hidden" id="report-type" name="type">
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox">
                            性别歧视
                        </label>
                    </td>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox">
                            虚假招聘
                        </label>
                    </td>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox">
                            招聘过程中违法收费
                        </label>
                    </td>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox">
                            职位过期
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox">
                            色情内容
                        </label>
                    </td>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" class="checkbox">
                            其他</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3 class="qstCont">
                举报说明
                <span>
                    (必填  限300字)
                </span>
                <span class="tip" >请填写举报具体内容</span>
            </h3>
            <textarea maxlength="300" style="overflow-x: hidden;" class="textarea" id="report-content" name="content" placeholder="请描述您的问题，此处限制300字以内"></textarea>
            <h3>
                证据截图
                <span>
                    (限5张  支持jpg、png  ，单张图片大小不超过1M)
                </span>
            </h3>
            <div class="upload-item">
                <ul class="upload-pic">
                </ul>
                <div class="upload-file">
                    <div><img src="https://assets.dajieimg.com/up/b2c/i/uploadPic.png"/>上传附件</div>
                    <input type="file" id="upload_file"/>
                </div>
            </div>
            <p class="jb-tip"><i></i>您还可以将举报材料发至大街客服邮箱service@dajie.com，或拨打客服热线400-813-1117（工作日9:00-18:00）</p>
        </form>
    </div>
</div>

<!-- 举报浮层 -->
<div class="dialog_bv2 empty" style="display:none">
    <div class="bg">
    </div>
    <div class="main" style="">
        <a href="#" class="close"></a>
        <p class="logo ren2">
            <i></i>
        </p>
        <p class="plus_success">
            您至少选一个职位
        </p>
        <p class="button">
            <a href="#">
                知道了
            </a>
        </p>
    </div>
</div>
<div class="dialog_bv2 all" style="display:none">
    <div class="bg">
    </div>
    <div class="main" style="">
        <a href="#" class="close"></a>
        <p class="logo ren2">
            <i></i>
        </p>
        <p class="plus_success">
            您已申请过此职位
        </p>
        <p class="overplus">
            其他相似职位尚未申请过，
            <a href="" target="_blank">
                快去试试
            </a>
        </p>
        <p class="button">
            <a href="#">
                知道了
            </a>
        </p>
    </div>
</div>
            </div>
    </div>
</div>
<div id="footer">
    <address>
        <span class="floatright">
            <a href="//www.dajie.com/corp/1000230/index/intro">关于</a>&nbsp;|
            <a href="//www.dajie.com/html/phone/">手机版</a>&nbsp;|
            <a href="//www.dajie.com/zhiwei">职位</a>&nbsp;|
            <a href="//s.dajie.com/">行业</a>&nbsp;|
            <a href="//www.dajie.com/account/feedback">意见反馈</a>&nbsp;|
            <a href="//www.dajie.com/about/privacy.html">服务与声明</a>
        </span>
        ©2007-2018&nbsp;大街网&nbsp;|
        <a href="http://www.miitbeian.gov.cn" target="_blank" style="color: #999999;">京ICP备09028813号-1</a>&nbsp;|&nbsp;京公网安备11010802008965&nbsp;|&nbsp;京ICP证090373号
    </address></div>
<div style="margin:0 auto;width:1100px;height:30px;color:#999999;">北京大杰致远信息技术有限公司
    <span style="color:#999999;margin-left:25px">公司地址：</span>北京市朝阳区来广营中街甲一号朝来高科技产业园二期3A#1-3层
    <span style="color:#999999;margin-left:25px">联系方式：</span>010-50916789
</div>
<script type="text/javascript">
    var _staticFooter = {
        'mobileBrowser' : false
    }
</script>

<script type="text/javascript">
    var root_canShowRegFloat = true;
    $(function(){
        var is_login = $.cookie('dj_auth') != null || $.cookie('dj_auth_v3') != null;
    });
</script>
    <link rel="stylesheet" type="text/css" href="https://assets.dajieimg.com/up/login-lay/css/login.57564.css"/>
    <script type="text/javascript" src="https://assets.dajieimg.com/up/login-lay/js/reg-guide-dialog.62911.js"></script>
<script type="text/javascript">
    dj.setData({
        'dj_obj_guideDialog' : {
            url : '//www.dajie.com/account/rightfooterparameter'
        }
    });
</script>
    <link rel="stylesheet" type="text/css" href="https://assets.dajieimg.com/up/autoheader/css/guanke-bottom-float.58631.css"/>
    <script type="text/javascript" src="https://assets.dajieimg.com/up/autoheader/js/guanke-bottom-float.58682.js"></script>
    
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=6yAS3jBSehrWiyVpsxC5OTdo&s=1"></script>
<script type="text/javascript">
    dj.setPageData({
        url_analysis: '/detail/analysis/db8f3483-2c78-4832-8b86-7383ea7531b7', //申请者分析
        url_favorite: '/detail/favorite/db8f3483-2c78-4832-8b86-7383ea7531b7/add', //收藏
        url_favorite_cancel: '/detail/favorite/db8f3483-2c78-4832-8b86-7383ea7531b7/cancel', //取消收储
        url_report_illegal: '/detail/report/db8f3483-2c78-4832-8b86-7383ea7531b7', //举报
        url_map_coordinate: '/detail/address/db8f3483-2c78-4832-8b86-7383ea7531b7',
        url_confirm_deliver: '/jobapply/resumePreview?applytype=initiactive&oJid=db8f3483-2c78-4832-8b86-7383ea7531b7', //档案确认
        url_check_deliver: ' /detail/apply/precheck', //检查所选职位
        url_batch_favorite: '/detail/favJobs',
        url_batch_unfavorite: '/detail/unfavJobs',
        //地图
        mapInfo: {
            'lng': '',
            'lat': '',
            'city': '北京',
            'address': '杏石口路30号坦博北京艺术中心'
        },
        //投递相关
        applyConfig: {
            clickStats: 'c2c_job_lv_01',
            loginUid: '0',
            jobType: {
            type: 2,
                nextUrl: '//job.dajie.com/jobapply/accept?jid=db8f3483-2c78-4832-8b86-7383ea7531b7'
            },
            searchStatsUrl: '/search/stats?t=0&fr=other&a=apply'
        },
        recommendListUrl: '/ajax/recommend/jobs'
    });
</script>

    <script type="text/javascript" src="https://assets.dajieimg.com/js/pv.62723.js"></script>


</body>
</html>
