<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>简历预览</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<link rel="stylesheet" href="http://st02.chrstatic.com/themes/bchinahr/build/css/resumeView-main.css?v=1479737991208"/>
<link rel="shortcut icon" type="image/x-icon"
	href="http://st02.chrstatic.com/themes/chinahr/favicon_chinahr.ico" media="screen" />
    <script>!function(t,e,w){w._ty_key='cRKNx_gFFfo';var a=t.createElement(e);a.async=!0,a.src=('https:'==t.location.protocol?'https://':'http://')+'st01.chrstatic.com/themes/mchinahr/js/tingyun-rum.js?20161114';var c=t.getElementsByTagName(e)[0];c.parentNode.insertBefore(a,c)}(document,'script',window);</script>
</head>
<body>
	<!-- 个人中心右侧 -->
	<div class="box-myResume">
		<div class="resume-head">
						<div class="update">更新时间：今天</div>
						<div class="number">简历编号：2058821689766407</div>
		</div>
		<!-- 简历主体 -->
		<div class="main-myResume">
			<div class="name-mr">
				<div class="bg-name">
					<img src="http://st02.chrstatic.com/themes/bchinahr/img/resumeBg_b.jpg">
				</div>
				<div class="pro-name">
					<div class="perPhoto">
						 <img
							src="http://imgs.chinahr.com/images/photo//201611/c584c73d221e1d04b05b8ca04671db6b.jpg" />
											</div>
					<div class="wz-name">
						<h3>谭女士</h3>
						<p title=""></p>
					</div>
				</div>
			</div>

			<!-- 基本信息 -->
			<div class="base-mr">
				<!-- 基本信息内容 -->
				<div class="inforBase">
					<!-- <div class="changeBase"><i class="m-icon i-pen"></i></div> -->
					<div class="lfInBase">
						<ul>
							<li><i class="m-icon i-person"></i>
								<div class="conInBase">
									<p>
										<em></em>										<em>18+</em>											     </p>
									<p>
																				<em>未婚</em>									</p>

								</div></li>
							<li><i class="m-icon i-file"></i>
								<div class="conInBase">
									<p>
										<em>本科</em> <em>											暂无工作经验 </em>
									</p>
																										</div></li>
						</ul>
					</div>
					<div class="rtInBase">
						<ul>
							<li><i class="m-icon i-target"></i>
								<div class="conInBase">
									<p>
										<em>目前居住地：北京市</em>									</p>
									<p>
										<em>户口所在地：北京市</em>									</p>
								</div></li> 						</ul>
						<div class="contactBtns">
							 							<div class="showContactBtn" data-val="8">查看联系方式</div>
							<div class="showAppConBtn" data-val="9">免费沟通</div>
							 						</div>
					</div>
				</div>
			</div>


			<!-- 工作经历 -->
						<div class="work-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>工作经历</span>
					</div>
				</div>
				<!-- 工作经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>商务拓展总监</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.10 － 2016.07</div> -->
								<div class="jobTime">2015.10 - 2016.07</div>
								<div class="conCom">
									<p>
										<em>北京凯撒国际旅行社有限责任公司</em>										<em>民企/私企</em>							     </p>
									<p>
										<em>所属行业：酒店 </em>									</p>
									<p>
																													</p>
									<p>
										<em>月薪：20000至30000</em>																			</p>
								</div>
																<div class="conJob">工作内容：<br />1、建立滑雪渠道关系，实现旅游产品在滑雪渠道的售卖、宣传。 <br />2、出境考察，开发滑雪旅游产品 <br />3、对凯撒旅游公司内部、门店旅游顾问进行滑雪旅游培训工作 <br />4、负责凯撒旅游滑雪产品销售工作 <br />工作业绩：<br />与中国国内所有著名滑雪渠道建立了合作关系，包括Goski、滑雪族、滑雪助手、Proski、滑呗、郝世花滑雪、绿野网、SKI滑雪杂志等。 <br />协助开发滑雪旅游产品，两次去日本考察滑雪资源。 <br />与国内万龙、军都山等大部分滑雪学校、校长建立良好合作关系。 <br />在公司内部协调门店、旅游顾问、广播等资源进行传播规划，使凯撒旅游滑遍天下在短短一个雪季就成为国内最为有影响力的出境滑雪旅游品牌。</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>品牌经理</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2014.08 － 2015.10</div> -->
								<div class="jobTime">2014.08 - 2015.10</div>
								<div class="conCom">
									<p>
										<em>北京凯撒国际旅行社有限责任公司</em>										<em>上市公司</em>							     </p>
									<p>
										<em>所属行业：酒店 </em>									</p>
									<p>
																													</p>
									<p>
										<em>月薪：20000至30000</em>																			</p>
								</div>
																<div class="conJob">任职凯撒旅游品牌管理部-品牌经理<br /><br />工作兼顾策划与项目管理两部分职责<br /><br />具体工作：<br />1、凯撒旅游2015年品牌白皮书（公司品牌定位、品牌架构、品牌视觉锤）<br />2、凯撒旅游各子品牌定位方案——奢华游、健康游、游学、体育旅游、户外旅游<br />3、结合品牌理念，规划凯撒旅游三代门店（旗舰店）方案，并与日本的东京电通公司合作开展三代门店的设计方案，这是一次跨国项目管理经验。<br />4、2015-2016年产品手册规划方案<br />5、凯撒邮轮体验店规划方案<br />6、其他设计项目的管理工作——包含旅游卡事业部的相关产品设计、奢华游、游学、邮轮等子品牌市场活动所需产品手册等相关内容的设计管理工作。<br /><br />凯撒旅游的品牌管理部直接向副总裁及董事长汇报工作，工作内容都是公司品牌最核心的内容，相对于市场部及媒体公关部，品牌部是规则的制定者，是一个舵手，我们制定的品牌该有的定位及视觉锤其他相关部门需严格按照执行。<br /><br />在凯撒旅游期间，我利用品牌定位理论帮助公司建立母品牌及各子品牌定位工作，给予市场部及媒体公关部在品牌后期传播及落地执行时指导意见，保证品牌统一诉求主张。严格按照品牌该有的定位及视觉去进行传播。</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>广告客户总监</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2008.12 － 2014.04</div> -->
								<div class="jobTime">2008.12 - 2014.04</div>
								<div class="conCom">
									<p>
										<em>北京太阳堂广告有限公司</em>										<em>民企/私企</em>								     </p>
									<p>
										<em>所属行业：公关/市场/会展 </em>									</p>
									<p>
																													</p>
									<p>
										<em>月薪：20000至30000</em>																			</p>
								</div>
																<div class="conJob">服务客户：中国银行总行（含银行卡中心）<br /><br />服务中国银行品牌工作多年。<br /><br />工作职责：<br />1、与所服务的客户进行沟通维护，理解客户品牌传播需求 <br />2、根据客户需求制定营销策划方案，包括营销主题、线上线下公关活动等 <br />基本作业流程（洞悉市场、换位思考、策略先行、创意立足、精准传播） <br />3、组织各部门同事配合完成方案，负责对客户进行提案 <br />4、统筹管理多项目同时进行 <br />5、培养年轻经验不多的AE成长 <br />6、开拓新客户 <br /><br />业绩——09年开始每年完成业绩在500万左右（不含广告媒介投放），12年业绩1500万。<br /><br />工作项目包含——中国银行品牌平面设计项目，宣传片/广告片拍摄项目，企业年报、责任报告设计项目，平面设计物印刷制作项目，传统及互联网广告投放项目，以及中国银行若干公关活动（例如新品信用卡发布会等）。每年参与中行项目在50个左右。<br /><br />工作优势：沟通理解能力强，善于合理安排工作时间，对工作认真负责，对金融行业市场营销有丰富经验。<br /><br />获奖情况：负责的中国银行2009年年报设计项目，获得德国的全球上市公司年报设计亚太地区白金奖，2010年获得金奖。2012年太阳堂广告在IAI年鉴中已经排名第6。多年领跑国内金融行业广告服务公司。<br /><br />重大工作事项：参与2次中国银行广告创意入围商比稿项目，中行每两年进行一次入围招商，每次选择4家入围公司进行广告创意设计服务工作。因10年业绩做得很好，达到700万左右，因此10年入围招标公司对于价格部分看的很重，但客户选择了价格更低的4家公司，没有入围，但我并没有放弃，即使没有入围，依然每年通过和客户的良好交往拿到400-500万工作，这次失败也让我在多年的工作中尝到了挫败感，并决心一定下次拿下入围项目，杀回中行。<br />在2012年中行举行了新的广告入围商比稿工作，我们这次顺利以总分第一名（标书满分）获得中行创意广告代理商的资格。<br /><br />2012年负责了单个项目1000万的整合营销传播项目，侧重网络传播（中行大有想法营销项目）</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3> 资深广告客户主管SAE </h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2008.08 － 2008.11</div> -->
								<div class="jobTime">2008.08 - 2008.11</div>
								<div class="conCom">
									<p>
										<em>博达大桥广告公司</em>										<em>外商独资</em>								     </p>
									<p>
										<em>所属行业：公关/市场/会展 </em>									</p>
									<p>
										<em>客户部 </em>																			</p>
									<p>
										<em>月薪：6000至8000</em>																			</p>
								</div>
																<div class="conJob">因之前工作客户推荐进入4A广告公司FCB，但进入公司不久便发现公司内部问题颇多，即使当时薪金待遇对于工作年限不多的我来说还不错，但还是决定辞职找更适合我发展的工作机会。FCB北京分部也确实因业绩不好于2009年结束营业。我也结束了自己唯一一次短暂的4A公司之旅。</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3> 广告客户主管 </h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2007.04 － 2008.06</div> -->
								<div class="jobTime">2007.04 - 2008.06</div>
								<div class="conCom">
									<p>
										<em>北京瑞狮广告</em>										<em>民企/私企</em>									     </p>
									<p>
										<em>所属行业：公关/市场/会展 </em>									</p>
									<p>
										<em>客户部 </em>																			</p>
									<p>
										<em>月薪：3000至4000</em>																			</p>
								</div>
																<div class="conJob">服务客户：中国移动总公司、AMD公司、中服总公司<br />跟随客户总监负责中国移动的各项工作，包含传统广告行业及互联网广告传播，在一年多的工作时间中基本天天加班，虽然辛苦，但为我的广发展打下了非常良好的基础。这期间就涉及了平面广告设计、印刷制作、公关活动等。<br />一年多完成了不下60个项目，小到折页设计，大到集团市场部总体传播规划。<br /><br /><br /></div>
															</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			

			<!-- 教育经历 -->
						<div class="edu-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>教育经历</span>
					</div>
				</div>
				<!-- 教育经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>北京联合大学广告学院</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!--  <div class="jobTime">2002.09 － 2007.07</div> -->
								<div class="jobTime">2002.09 - 2007.07</div>
								<div class="conCom">
									<p>
										<em>本科</em>										<em>营销策划专业</em>									</p>
								</div>
															</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			

			<!-- 求职意向 -->
						<div class="inten-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>求职意向</span>
					</div>
				</div>
				<!-- 求职意向信息 -->
				<div class="inforInten">
										<div class="boxInInten01">
						<span>期望工作：</span>
						<div class="rtInInten01">
							产品/品牌经理，广告客户总监/副总监，产品/品牌主管</div>
					</div>
					
										<div class="boxInInten01">
						<span>期望行业：</span>
						<div class="rtInInten01">
							电子商务 | 食品/饮料/烟酒/日化 | 酒店 | 娱乐/休闲/体育 | 公关/市场/会展 | 家具/家居 | 证券 | 银行 | 其他行业 </div>
					</div>
					
										<div class="boxInInten01">
						<span>求职性质：</span>
						<div class="rtInInten01">
							全职</div>
					</div>
															<div class="boxInInten01">
						<span>目前工作状态：</span>
						<div class="rtInInten01">
							在职</div>
					</div>
															<div class="boxInInten01">
						<span>期望地点：</span>
						<div class="rtInInten01">
							北京</div>
					</div>
																				<div class="boxInInten01">
						<span>期望薪水：</span>
						<div class="rtInInten01">
							25000.0</div>
					</div>
									</div>
			</div>
			

			<!-- 项目经历 -->
						<div class="project-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>项目经历</span>
					</div>
				</div>
				<!-- 项目经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>若干中国银行线下公关宣传项目</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2009.01 － </div> -->
								<div class="jobTime">2009.01</div>
								<div class="conCom">
																		<p>
										<em>项目职责 :	<br />沟通客户需求，组织AE根据客户要求需找相应场地，提交活动流程，与第三方活动搭建公司沟通出活动视觉方案，向客户提案，监督第三方公司按照客户确认的活动流程及视觉展示方案执行项目，联系第三方演出公司，与客户敲定演出节目、主持人等。活动现场督导各部门顺利完成任务。出报价合同，完成收款工作。 <br /></em>
									</p>
																	</div>
																<div class="conJob">项目描述 :	<br />完成中国银行全民健身卡发布会（国家体育总局），中国银行美国运通卡发布会（地坛乙十六），中国银行中美学生彩虹桥活动（三十五中学），中国银行胡润展会（奥林匹克水上公园），中国银行信用卡安全周（西单大悦城），中国银行北京分行私行客户答谢会（地坛乙十六），中国银行国家助学贷款发布会、中国银行现金管理行业调研报告发布会（中行总行）等项目。<br /></div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>上百个中国银行产品宣传项目</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2009.01 － </div> -->
								<div class="jobTime">2009.01</div>
								<div class="conCom">
																		<p>
										<em>项目职责 :	<br />与客户沟通需求、组织内部团队（创意团队、文案、AE）开会，明确传播目标，制定传播策略，引导创意团队按照客户期望的传播方向进行创意工作，最终评审创意方案是否符合客户需求，提交方案，出报价合同，完成收款工作。<br /></em>
									</p>
																	</div>
																<div class="conJob">项目描述 :	<br />参与上百个中国银行产品的宣传方案，包含各种理财产品、吸储类产品、借贷类产品、信用卡产品、公司金融类产品、电子银行产品等等，以产品海报及宣传片为主。<br /></div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>中国银行年报、责任报告项目</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2009.01 － </div> -->
								<div class="jobTime">2009.01</div>
								<div class="conCom">
																		<p>
										<em>项目职责 :	<br />多次与客户深度沟通，根据客户给的年报、责任报告内容提炼各章节页核心内容，主要帮助设计师进行封面、各章节页设计，帮助设计人员把握符合中国银行气质的年报用图，最终完成年报、责任报告设计工作，提交方案，出报价合同，完成收款工作。 <br /></em>
									</p>
																	</div>
																<div class="conJob">项目描述 :	<br />完成中国银行09年10年年报设计工作，09年年报获亚太地区白金奖，10年年报获得亚太地区金奖，11年开始接手中国银行责任报告设计项目至今。<br /></div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>中国银行品牌类项目</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2009.01 － </div> -->
								<div class="jobTime">2009.01</div>
								<div class="conCom">
																		<p>
										<em>项目职责 :	<br />与客户沟通需求、组织内部团队（创意团队、文案、AE）开会，明确传播目标，制定传播策略，引导创意团队按照客户期望的传播方向进行创意工作，最终评审创意方案是否符合客户需求，提交方案，出报价合同，完成收款工作。<br /></em>
									</p>
																	</div>
																<div class="conJob">项目描述 :	<br />参与中国银行百年中行品牌形象宣传，并最终客户选用了我们公司设计的方案。<br />参与中国银行若干二级品牌形象宣传，包括：理想之家、中银理财、中银财富管理、私人银行，出国金融服务，中银黄金汇，中银积分365，中行大有享法等，以形象海报及宣传片为主。<br /></div>
															</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			


			<!-- 培训经历 -->
			


			<!-- 专业技能 -->
			

			<!-- 语言技能 -->
						<div class="lang-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>语言技能</span>
					</div>
				</div>

				<!-- 语言技能信息 -->
				<div class="inforLang">
					<ul>
																		<li><span>英语</span><em>一般</em></li>
						 					</ul>
					<div class="otherLang">
												 					</div>
				</div>
			</div>
			


			<!-- 证书及奖项 -->
			
			<!-- 作品展示 -->
			
			<!-- 个人评价 -->
						<div class="evalue-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>个人评价</span>
					</div>
				</div>
				<!-- 个人评价信息 -->
				<div class="inforEvalue">职业目标明确，做一名出色的品牌管理者，在甲方乙方都有丰富品牌管理经验。<br /><br />认同定位理论，语言的钉子及视觉锤是品牌植入用户心智的工具。<br /><br />同时善于项目管理工作，为中国银行、凯撒旅游、中国移动、海尔等知名企业管理各类项目300+。<br /><br />5年以上团队管理经验，善于沟通、知人善用，乐于分享经验给团队中的新鲜力量。<br /><br />资深品牌策划、多年并有跨国项目管理经验、善于带领团队并经常激励鼓舞团队，为人正直友善，人品好。</div>
			</div>
					</div>
	</div>

		<div class="tagDone">
		<div class="tagDBtn">完成</div>
	</div>
	<!--简历推荐-->
	<div id="feature"></div>
	<div class="footer-mr">http://www.ChinaHR.com
		Email:feedback@corp.chinahr.com 客服热线：400 050 8080</div>

	 			<div class="mask_op">
				<div class="mark_box">
					<div class="mark_right">
						<span class="contactName on"><i class="batchIcon cname"></i>谭女士</span>
						<span class="contactPhone"><i class="batchIcon cphone"></i></span>
						<span class="contactMail"><i class="batchIcon cmail"></i></span>
						<div class="opBtns">
							<span data-val="9" class="on green">免费沟通</span>
                            <span data-val="8" class="on">查看联系方式</span>
						</div>
					</div>
				</div>
			</div>
			 
			<form id="expForm" name="expForm" target="_blank" method="post">
				<input id="batExpParam" name="batExpParam" type="hidden">
			</form>

			<input type="hidden" id="JobSeekerName"
				value="谭女士" /> <input type="hidden"
				id="JobSeekerRealName" value="谭峰" /> <input type="hidden"
				id="buid" value="22973429983489" /> <input type="hidden" id="cvid"
				value="2058821689766407" /> <input type="hidden" id="cuid" value="cff3b0e46b1a1c5812245164j" />
			<input type="hidden" id="unid" value="0" /> <input
				type="hidden" id="jobid" value="" /> <input type="hidden"
				id="type" value="2" /> <input type="hidden" id="status"
				value="" /> <input type="hidden" id="gtid" name="gtid"
				value="">

			<!-- 统计代码start -->
			<script type="text/javascript">
				var _trackURL = "{'channel':'social','pagetype':'resume','page':'comcvdetail_none','area':'',"
						+ "'industry':'','job':'','salary':'','education':'','years':'','keywords':'','gtid':'','buid':'22973429983489','cvid':'2058821689766407'}";
			</script>
			<script src="http://tracklog.58.com/referrer_chinahr_pc.js?v=1479737991208"></script>
			<!-- 统计代码end -->

			<script src="http://st02.chrstatic.com/themes/bchinahr/js/sea.js?v=1479737991208"></script>
			<script src="http://st02.chrstatic.com/themes/bchinahr/js/sea-config.js?v=1479737991208"></script>
			<script src="http://st02.chrstatic.com/themes/bchinahr/build/js/jquery.js?v=1479737991208"></script>
			<script src="http://st02.chrstatic.com/themes/bchinahr/build/js/resumeView-main.js?v=1479737991208"></script>

			<script id="featureWrapTpl" type="text/html">
				<h3>以下简历可能适合您</h3>
				{{if isShowNext }}
				<div class="more"><i></i>换一换</div>
				{{/if}}
				<ul class="feature-list clear">
					{{include 'featureListTpl'}}
				</ul>
			</script>

			<script id="featureListTpl" type="text/html">

					{{each list as item i}}
					  <li class="panel" data-cvid={{item.cvid}}>
						<a href="{{item.url}}" target="_blank" onclick={{item.log}} >
							<div class="panel-header clear">
								<div class="e1">
									  {{if item.img}}
									  <img src="{{item.img}}" width="50" height="50">
									  {{else if item.gender == 1}}
									  <img src="http://st02.chrstatic.com/themes/bchinahr/build/img/mandefault.png" width="50" height="50">
									  {{else if item.gender == 2}}
									  <img src="http://st02.chrstatic.com/themes/bchinahr/build/img/womandefault.png" width="50" height="50">
									  {{/if}}
								</div>
								<div class="e2" title="相似度得分基于目前所查看简历和浏览记录综合得出">
									<p>相似度：<span class="red">{{item.similarity}}</span></p>
									<div class="process-bar">
										<div class="process-val" style="width:{{item.similarity}};"></div>
									</div>
								</div>
								<div class="e3" title="活跃度得分基于该用户的登陆、投递、被下载等记录综合得出">
									<p>活跃度：<span class="red">{{item.activity}}</span></p>
									<div class="process-bar">
										<div class="process-val" style="width:{{item.activity}}%;"></div>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="e1 clear">
									<b class="ellip">{{item.position}}</b>
									<span>{{item.updateTime}}</span>
								</div>
								<p class="e2">
									<b>{{item.name}}</b>（{{item.age}}&nbsp;&nbsp;&nbsp;{{item.workTime}})<i class="contact" title="在线沟通"></i>
								</p>
								<p class="e3 ellip">
								{{if item.latestWorkCompany}}
								{{item.latestWorkCompany}}
								{{/if}}

								</p>
								<p class="e4 ellip">{{item.colleageName}}<span>·</span>{{item.educationDegree}}</p>
							</div>
							<div class="panel-footer clear">
								{{each item.tags as tag i}}
									{{if i<4}}
										 <span class="btn btn-tag">{{tag}}</span>
									{{/if}}

								{{/each}}

							</div>
						</a>
					</li>
					{{/each}}
			</script>
</body>
</html>