<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>简历预览</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<link rel="stylesheet" href="http://st02.chrstatic.com/themes/bchinahr/build/css/resumeView-main.css?v=1472558601634"/>
<link rel="shortcut icon" type="image/x-icon"
	href="http://st02.chrstatic.com/themes/chinahr/favicon_chinahr.ico" media="screen" />
</head>
<body>
	<!-- 个人中心右侧 -->
	<div class="box-myResume">
		<div class="resume-head">
						<div class="update">更新时间：2016-08-30</div>
						<div class="number">简历编号：57abe831e4b036ea3bfd8b7e</div>
		</div>
		<!-- 简历主体 -->
		<div class="main-myResume">
			<div class="name-mr">
				<div class="bg-name">
					<img src="http://st02.chrstatic.com/themes/bchinahr/img/resumeBg_b.jpg">
				</div>
				<div class="pro-name">
					<div class="perPhoto">
						 <img
							src="http://imgs.chinahr.com/images/photo//20168/646bdd83b62f06dd2dfb95df53e69bd5.jpg" />
											</div>
					<div class="wz-name">
						<h3>王先生</h3>
						<p title=""></p>
					</div>
				</div>
			</div>

			<!-- 基本信息 -->
			<div class="base-mr">
				<!-- 基本信息内容 -->
				<div class="inforBase">
					<!-- <div class="changeBase"><i class="m-icon i-pen"></i></div> -->
					<div class="lfInBase">
						<ul>
							<li><i class="m-icon i-person"></i>
								<div class="conInBase">
									<p>
										<em>男</em>										<em>29岁</em>																			</p>
									<p>
										<em>身高：172cm</em>										<em>未婚</em>									</p>

								</div></li>
							<li><i class="m-icon i-file"></i>
								<div class="conInBase">
									<p>
										<em>本科</em> <em>											5年工作经验 </em>
									</p>
																										</div></li>
						</ul>
					</div>
					<div class="rtInBase">
						<ul>
							<li><i class="m-icon i-target"></i>
								<div class="conInBase">
									<p>
										<em>目前居住地：上海市</em>									</p>
									<p>
										<em>户口所在地：吉林-通化</em>									</p>
								</div></li> 						</ul>
						<div class="contactBtns">
							 							<div class="showContactBtn" data-val="8">查看联系方式</div>
							<div class="showAppConBtn" data-val="9">免费沟通</div>
							 						</div>
					</div>
				</div>
			</div>


			<!-- 工作经历 -->
						<div class="work-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>工作经历</span>
					</div>
				</div>
				<!-- 工作经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>PHP开发工程师</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.05 － 2016.08</div> -->
								<div class="jobTime">2015.05 - 2016.08</div>
								<div class="conCom">
									<p>
										<em>紫砂实业有限公司</em>																													</p>
									<p>
										<em>所属行业：互联网/电子商务 </em>									</p>
									<p>
																													</p>
									<p>
										<em>月薪：4000到6000</em>																			</p>
								</div>
																<div class="conJob">1、负责协助技术主管，bug处理，代码开发；<br />2、负责网站数据库、频道模块的设计与开发；<br />3、协助技术主管，进行后台系统等项目开发；<br />4、按时完成公司下达程度开发的工作任务；<br />5、协助产品经理，完成网站程序开发的开发。<br />6、与各部门进行良好沟通、是需求更加明确，有针对性的开发。</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>库管/PMC/</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2012.01 － 2014.12</div> -->
								<div class="jobTime">2012.01 - 2014.12</div>
								<div class="conCom">
									<p>
										<em>盈威力新能源科技有限公司</em>										<em>上市公司</em>																			</p>
									<p>
										<em>所属行业：采掘业/冶炼 </em>									</p>
									<p>
																													</p>
									<p>
										<em>月薪：4000到6000</em>																			</p>
								</div>
																<div class="conJob">网管、库管、PMC,根据之前的人事经验，我对工作有一定的认识，我在很短的时间就将工作做起来，在网管期间，我对公司内网络维护有一定的了解，简单的问题可以解决，在做库管的工作中，虽然我对公司电子元件不是很了解，，但是我利用办公室软件对公司内的物品整理，使得工作更加顺手，对于出库和入库，及时将数据录入ERP系统，保证数据准确。PMC工作时，利用办公软件，有效的计算，使工厂内部销售和生产能够联系起来，根据销售状况，做出预算，来安排生产计划，对于缺少的物料提前通知采购部门，并跟催采购部门，生产物料充足，物料做到成品库存尽可能小，生产能够连续进行。</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>人事专员</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2011.08 － 2012.12</div> -->
								<div class="jobTime">2011.08 - 2012.12</div>
								<div class="conCom">
									<p>
										<em>雨润集团</em>										<em>民营/私企</em>																			</p>
									<p>
										<em>所属行业：快速消费品(食品、饮料、化妆品) </em>									</p>
									<p>
																													</p>
									<p>
										<em>月薪：3000到4000</em>																			</p>
								</div>
																<div class="conJob">大学毕业以后在雨润集团分公司工作，分别在沈阳、舒兰、桓仁工作，在沈阳分公司主要是生产和人事实习，在舒兰分公司，做人事专员，招聘，培训，薪酬，福利，员工关系，劳动关系均做过。在桓仁分公司，做人事负责人及办公室，制定分公司部分规章制度的制定，分公司信息的经营信息汇总和反馈。对于生产性公司的运营较为熟悉。</div>
															</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			

			<!-- 教育经历 -->
						<div class="edu-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>教育经历</span>
					</div>
				</div>
				<!-- 教育经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>河北科技大学</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!--  <div class="jobTime">2007.09 － 2011.07</div> -->
								<div class="jobTime">2007.09 - 2011.07</div>
								<div class="conCom">
									<p>
										<em>本科</em>										<em>生物工程</em>									</p>
								</div>
															</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			

			<!-- 求职意向 -->
						<div class="inten-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>求职意向</span>
					</div>
				</div>
				<!-- 求职意向信息 -->
				<div class="inforInten">
										<div class="boxInInten01">
						<span>期望工作：</span>
						<div class="rtInInten01">
							软件工程师，手机软件开发工程师，其他</div>
					</div>
					
										<div class="boxInInten01">
						<span>期望行业：</span>
						<div class="rtInInten01">
							互联网/电子商务 | 快速消费品(食品、饮料、化妆品) | 贸易/进出口 | 其他行业 | 办公用品及设备 | 交通/运输/物流 | 制药/生物工程 | 教育/培训/院校 | 影视/媒体/艺术/文化传播 | 其他行业 </div>
					</div>
					
																				<div class="boxInInten01">
						<span>期望地点：</span>
						<div class="rtInInten01">
							上海</div>
					</div>
															<div class="boxInInten01">
						<span>期望单位性质：</span>
						<div class="rtInInten01">
							全部</div>
					</div>
															<div class="boxInInten01">
						<span>期望薪水：</span>
						<div class="rtInInten01">
							10000</div>
					</div>
									</div>
			</div>
			

			<!-- 项目经历 -->
						<div class="project-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>项目经历</span>
					</div>
				</div>
				<!-- 项目经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>紫砂商城</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.05 － 2016.08</div> -->
								<div class="jobTime">2015.05 - 2016.08</div>
								<div class="conCom">
																		<p>
										<em>1、协助主管，bug处理，代码开发；<br />2、负责网站数据库、频道模块的设计与开发；<br />3、协助主管，进行后台系统等项目开发；<br />4、按时完成公司下达程度开发的工作任务；<br />5、协助产品经理，完成网站程序开发的开发。<br />6、与各部门进行良好沟通、是需求更加明确，有针对性的开发</em>
									</p>
																	</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>随心停车场网站</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.04 － 2015.04</div> -->
								<div class="jobTime">2015.04 - 2015.04</div>
								<div class="conCom">
																		<p>
										<em>实现：<br />1、停车场网点新增以及变更；<br />2、每个停车场车位信息；<br />3、为会员保留车位数和查看停车场已停有的车辆;<br />4、可以查看包年或包月的车辆；<br />5、会员信息统计，及类型变更和包年包月时间段的确定。</em>
									</p>
																	</div>
																<div class="conJob">使用户能够浏览到停车场的停车数量，在后台能够了解停车状况并且对车停用户进行管理，后台办理会员。</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>魔域王子男装商城</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.04 － 2015.04</div> -->
								<div class="jobTime">2015.04 - 2015.04</div>
								<div class="conCom">
																		<p>
										<em>制作静态页面的制作,后台产品模块，以及会员模块。</em>
									</p>
																	</div>
																<div class="conJob">模仿美特斯邦威网站，使用户顺利完成商品的购买，并且用户可以对商品进行评价。</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>天幕网站（实训）</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.03 － 2015.03</div> -->
								<div class="jobTime">2015.03 - 2015.03</div>
								<div class="conCom">
																		<p>
										<em>1、切图以及前台页面的制作；<br />2、后台信息的管理；<br />3、新闻信息的管理；<br />4、产品信息的管理；<br />5、留言信息的管理。</em>
									</p>
																	</div>
																<div class="conJob">完成企业站的前台页面，以及后台的管理。</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>盈威力企业网站（企业站）</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2012.01 － 2014.12</div> -->
								<div class="jobTime">2012.01 - 2014.12</div>
								<div class="conCom">
																		<p>
										<em>切图以及前台页面的制作,用js,jq,Ajax制作效果，以及在完成有后台的管理工作。</em>
									</p>
																	</div>
																<div class="conJob">公司产品的展示，公司新闻，以及客户留言。</div>
															</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			


			<!-- 培训经历 -->
						<div class="project-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>培训经历</span>
					</div>
				</div>
				<!-- 培训经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>PHP课程培训</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.01 － 2015.05</div> -->
								<div class="jobTime">2015.01 - 2015.05</div>
								<div class="conCom">
																		<p>
										<em>青麦人才</em>
									</p>
																	</div>
																<div class="conJob">核心语言：<br />熟练应用PHP+MySQL技术，能在WAMP环境下熟练编程。<br />了解Web网站开发的安全性要求。<br />框架技术：<br />了解Smarty模板引擎技术,TP框架开发网站、MVC的开发（设计模式）。<br />数据库：<br />熟练应用MySQL数据库，以及使用SQL语言。<br />前台展现：<br />熟识HTML网页技术，能熟练应用DIV+CSS样式布局设计，熟练应用JavaScrip、Ajax技术实现对于客户端的脚本验证，能够熟练使用Jquery。<br />开发工具：<br />能够使用ZendStudio等PHP开发工具。<br />掌握Dreamwaver网页开发工具的使用,以及PhotoShop切图。<br /></div>
								
							</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			


			<!-- 专业技能 -->
			

			<!-- 语言技能 -->
						<div class="lang-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>语言技能</span>
					</div>
				</div>

				<!-- 语言技能信息 -->
				<div class="inforLang">
					<ul>
																		<li><span>英语</span><em></em></li>
						 					</ul>
					<div class="otherLang">
												 					</div>
				</div>
			</div>
			


			<!-- 证书及奖项 -->
						<div class="cert-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>证书及奖项</span>
					</div>
				</div>
				<!-- 证书及奖项信息 -->
				<div class="inforCert">
										<div class="inCert01">
						<i class="m-icon i-trophy1"></i>
						<div class="conInCert">
							<div class="boxInCert">
								<h3>英语专业四级</h3>
							</div>
							<div class="boxInCert">
								<i>2008.12</i> 							</div>
						</div>
					</div>
										<div class="inCert01">
						<i class="m-icon i-trophy1"></i>
						<div class="conInCert">
							<div class="boxInCert">
								<h3>全国计算机等级一级</h3>
							</div>
							<div class="boxInCert">
								<i>2008.04</i> 							</div>
						</div>
					</div>
									</div>
			</div>
			
			<!-- 作品展示 -->
			




			<!-- 个人评价 -->
						<div class="evalue-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>个人评价</span>
					</div>
				</div>
				<!-- 个人评价信息 -->
				<div class="inforEvalue">本人乐于助人，做事严谨仔细、认真负责。同时善于观察周围的事物，善于分析问题。也喜欢与他人交往，热爱生活。学习能力较强，刻苦努力，不断要求自己、提升自己。在工作中与团队进行良好的互动，具有良好的沟通能力，对人对事也拥有较足够的耐心和信心,。平时喜欢看一下技术方面的资料，对未来生活和工作充满着期待和憧憬。</div>
			</div>
					</div>
	</div>

		<div class="tagDone">
		<div class="tagDBtn">完成</div>
	</div>
	<!--简历推荐-->
	<div id="feature"></div>
	<div class="footer-mr">http://www.ChinaHR.com
		Email:feedback@corp.chinahr.com 客服热线：400 050 8080</div>

	 			<div class="mask_op">
				<div class="mark_box">
					<div class="mark_right">
						<span class="contactName on"><i class="batchIcon cname"></i>王先生</span>
						<span class="contactPhone"><i class="batchIcon cphone"></i></span>
						<span class="contactMail"><i class="batchIcon cmail"></i></span>
						<div class="opBtns">
							<span data-val="9" class="on green">免费沟通</span> <span
								data-val="8" class="on">查看联系方式</span>
						</div>
					</div>
				</div>
			</div>
			 
			<form id="expForm" name="expForm" target="_blank" method="post">
				<input id="batExpParam" name="batExpParam" type="hidden">
			</form>

			<input type="hidden" id="JobSeekerName"
				value="王先生" /> <input type="hidden"
				id="JobSeekerRealName" value="王新程" /> <input type="hidden"
				id="buid" value="20409020950017" /> <input type="hidden" id="cvid"
				value="57abe831e4b036ea3bfd8b7e" /> <input type="hidden" id="cuid" value="59bab0e431e8ab57735d2ed3j" />
			<input type="hidden" id="unid" value="0" /> <input
				type="hidden" id="jobid" value="" /> <input type="hidden"
				id="type" value="2" /> <input type="hidden" id="status"
				value="" /> <input type="hidden" id="gtid" name="gtid"
				value="f3685a3e-6c3c-4d30-80ef-68b029d28608">

			<!-- 统计代码start -->
			<script type="text/javascript">
				var _trackURL = "{'channel':'social','pagetype':'resume','page':'comcvdetail_none','area':'',"
						+ "'industry':'','job':'','salary':'','education':'','years':'','keywords':'','gtid':'f3685a3e-6c3c-4d30-80ef-68b029d28608','buid':'20409020950017','cvid':'57abe831e4b036ea3bfd8b7e'}";
			</script>
			<script src="http://tracklog.58.com/referrer_chinahr_pc.js"></script>
			<!-- 统计代码end -->

			<script src="http://st02.chrstatic.com/themes/bchinahr/js/sea.js?v=1472558601634"></script>
			<script src="http://st02.chrstatic.com/themes/bchinahr/js/sea-config.js?v=1472558601634"></script>
			<script src="http://st02.chrstatic.com/themes/bchinahr/build/js/jquery.js?v=1472558601634"></script>
			<script src="http://st02.chrstatic.com/themes/bchinahr/build/js/resumeView-main.js?v=1472558601634"></script>

			<script id="featureWrapTpl" type="text/html">
				<h3>以下简历可能适合您</h3>
				{{if isShowNext }}
				<div class="more"><i></i>换一换</div>
				{{/if}}
				<ul class="feature-list clear">
					{{include 'featureListTpl'}}
				</ul>
			</script>

			<script id="featureListTpl" type="text/html">

					{{each list as item i}}
					  <li class="panel" data-cvid={{item.cvid}}>
						<a href="{{item.url}}" target="_blank" onclick={{item.log}} >
							<div class="panel-header clear">
								<div class="e1">
									  {{if item.img}}
									  <img src="{{item.img}}" width="50" height="50">
									  {{else if item.gender == 1}}
									  <img src="http://st02.chrstatic.com/themes/bchinahr/build/img/mandefault.png" width="50" height="50">
									  {{else if item.gender == 2}}
									  <img src="http://st02.chrstatic.com/themes/bchinahr/build/img/womandefault.png" width="50" height="50">
									  {{/if}}
								</div>
								<div class="e2" title="相似度得分基于目前所查看简历和浏览记录综合得出">
									<p>相似度：<span class="red">{{item.similarity}}</span></p>
									<div class="process-bar">
										<div class="process-val" style="width:{{item.similarity}};"></div>
									</div>
								</div>
								<div class="e3" title="活跃度得分基于该用户的登陆、投递、被下载等记录综合得出">
									<p>活跃度：<span class="red">{{item.activity}}</span></p>
									<div class="process-bar">
										<div class="process-val" style="width:{{item.activity}}%;"></div>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="e1 clear">
									<b class="ellip">{{item.position}}</b>
									<span>{{item.updateTime}}</span>
								</div>
								<p class="e2">
									<b>{{item.name}}</b>（{{item.age}}&nbsp;&nbsp;&nbsp;{{item.workTime}})<i class="contact" title="在线沟通"></i>
								</p>
								<p class="e3 ellip">
								{{if item.latestWorkCompany}}
								{{item.latestWorkCompany}}
								{{/if}}

								</p>
								<p class="e4 ellip">{{item.colleageName}}<span>·</span>{{item.educationDegree}}</p>
							</div>
							<div class="panel-footer clear">
								{{each item.tags as tag i}}
									{{if i<4}}
										 <span class="btn btn-tag">{{tag}}</span>
									{{/if}}

								{{/each}}

							</div>
						</a>
					</li>
					{{/each}}
			</script>
</body>
</html>
