<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>简历预览</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<link rel="stylesheet" href="http://st01.chrstatic.com/themes/bchinahr/build/css/resumeView-main.css?v=1472558655953"/>
<link rel="shortcut icon" type="image/x-icon"
	href="http://st01.chrstatic.com/themes/chinahr/favicon_chinahr.ico" media="screen" />
</head>
<body>
	<!-- 个人中心右侧 -->
	<div class="box-myResume">
		<div class="resume-head">
						<div class="update">更新时间：2016-08-30</div>
						<div class="number">简历编号：6ad6b0e49a83b2570fa504c8j</div>
		</div>
		<!-- 简历主体 -->
		<div class="main-myResume">
			<div class="name-mr">
				<div class="bg-name">
					<img src="http://st01.chrstatic.com/themes/bchinahr/img/resumeBg_b.jpg">
				</div>
				<div class="pro-name">
					<div class="perPhoto">
						 <img
							src="http://imgs.chinahr.com/images/photo//20168/646bdd83b62f06dd2dfb95df53e69bd5.jpg" />
											</div>
					<div class="wz-name">
						<h3>王先生</h3>
						<p title="平凡中成就不平凡的自我。">平凡中成就不平凡的自我。</p>
					</div>
				</div>
			</div>

			<!-- 基本信息 -->
			<div class="base-mr">
				<!-- 基本信息内容 -->
				<div class="inforBase">
					<!-- <div class="changeBase"><i class="m-icon i-pen"></i></div> -->
					<div class="lfInBase">
						<ul>
							<li><i class="m-icon i-person"></i>
								<div class="conInBase">
									<p>
										<em>男</em>										<em>29岁</em>																			</p>
									<p>
										<em>身高：172cm</em>										<em>未婚</em>									</p>

								</div></li>
							<li><i class="m-icon i-file"></i>
								<div class="conInBase">
									<p>
										<em>本科</em> <em>											5年工作经验 </em>
									</p>
																										</div></li>
						</ul>
					</div>
					<div class="rtInBase">
						<ul>
							<li><i class="m-icon i-target"></i>
								<div class="conInBase">
									<p>
										<em>目前居住地：上海市</em>									</p>
									<p>
										<em>户口所在地：吉林-通化</em>									</p>
								</div></li> 						</ul>
						<div class="contactBtns">
							 							<div class="showContactBtn" data-val="8">查看联系方式</div>
							<div class="showAppConBtn" data-val="9">免费沟通</div>
							 						</div>
					</div>
				</div>
			</div>


			<!-- 工作经历 -->
						<div class="work-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>工作经历</span>
					</div>
				</div>
				<!-- 工作经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>PHP开发工程师</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.05 － 2016.08</div> -->
								<div class="jobTime">2015.05 - 2016.08</div>
								<div class="conCom">
									<p>
										<em>紫砂实业有限公司</em>										<em>民营/私企</em>										<em>101－300人</em>									</p>
									<p>
										<em>所属行业：互联网/电子商务 </em>									</p>
									<p>
										<em>技术部</em>										<em>互联网软件开发工程师</em>									</p>
									<p>
										<em>月薪：4000到6000</em>																			</p>
								</div>
																<div class="conJob">1、负责协助技术主管，bug处理，代码开发；<br>2、负责网站数据库、频道模块的设计与开发；<br>3、协助技术主管，进行后台系统等项目开发；<br>4、按时完成公司下达程度开发的工作任务；<br>5、协助产品经理，完成网站程序开发的开发。<br>6、与各部门进行良好沟通、是需求更加明确，有针对性的开发。</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>物料管理</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2013.01 － 2014.12</div> -->
								<div class="jobTime">2013.01 - 2014.12</div>
								<div class="conCom">
									<p>
										<em>盈威力新能源科技有限公司</em>										<em>民营/私企</em>										<em>101－300人</em>									</p>
									<p>
										<em>所属行业：新能源 </em>									</p>
									<p>
										<em>生产管理</em>										<em>生产计划/物料管理(PMC)</em>									</p>
									<p>
										<em>月薪：4000到6000</em>																			</p>
								</div>
																<div class="conJob">1、协助总监制定计划职能的管理目标和实施方案，并按方案执行 <br>2、负责计划部门日常管理，满足生产和出货需求；<br>3、负责主生产计划和物料需求计划的审核； <br>4、及时与业务部门沟通，调整生产计划，优先满足业务需求；<br>5、适时监控库存状况，提出改善方案，持续降低库存；<br>6、负责长交期材料的批量订单交货的安排；<br>7、组织、讨论、处理库存呆料 <br>8、 助材料监督与控制  <br>9、对生产能力进行分析与报告，制订能力需求计划；<br>10、协调生产、采购、计划的工作，确保生产系统顺畅 <br>11、负责所属的人力资本管理  计划员<br>12、负责制定月生产计划 ；<br>13、负责制订日生产排产计划；<br>14、跟进生产完成状况，对异常情况及时处理与上报；<br>15、成品库存的控制和报警；<br>16、 库存呆滞成品的统计上报和提出处理建议；<br>17、市场缺货的跟进处理和及时上报；</div>
															</div>
						</div>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>人事专员</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2011.08 － 2012.12</div> -->
								<div class="jobTime">2011.08 - 2012.12</div>
								<div class="conCom">
									<p>
										<em>雨润集团</em>										<em>民营/私企</em>										<em>500人以上</em>									</p>
									<p>
										<em>所属行业：快速消费品(食品、饮料、化妆品) </em>									</p>
									<p>
										<em>人事部</em>										<em>人事专员</em>									</p>
									<p>
										<em>月薪：2000到3000</em>																			</p>
								</div>
																<div class="conJob">1、负责全体员工的人事档案管理工作。<br>2、负责新进员工试用期的跟踪考核，晋升提薪及转正合同的签订并形成相应档案资料。<br>3、负责员工调查问卷的发放和收集，分析汇总调查结果，形成结论上报。<br>4、负责统计汇总，上报员工考勤月报表，处理考勤异常情况。<br>5、负责员工绩效考核资料的定期统计汇总，上报，并对绩效考核的方式方法提出意见和建议。<br>6、负责员工技能培训方案，技能测评的督导与跟进。<br>7、负责完成公司人事工作任务，并提出改进意见。<br>8、负责解释公司的福利保险制度，组织办理入保手续，联络退保，理赔事务。<br>9、协助人事行政经理处理人事方面的其他工作。<br>10、协助招聘主管进行员工招聘的面试，负责报到及解聘手续的办理，接待引领新进员工。</div>
															</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			

			<!-- 教育经历 -->
						<div class="edu-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>教育经历</span>
					</div>
				</div>
				<!-- 教育经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>河北科技大学</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!--  <div class="jobTime">2007.09 － 2011.08</div> -->
								<div class="jobTime">2007.09 - 2011.08</div>
								<div class="conCom">
									<p>
										<em>本科</em>										<em>生物工程</em>									</p>
								</div>
															</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			

			<!-- 求职意向 -->
						<div class="inten-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>求职意向</span>
					</div>
				</div>
				<!-- 求职意向信息 -->
				<div class="inforInten">
										<div class="boxInInten01">
						<span>期望工作：</span>
						<div class="rtInInten01">
							互联网软件开发工程师，软件工程师</div>
					</div>
					
										<div class="boxInInten01">
						<span>期望行业：</span>
						<div class="rtInInten01">
							互联网/电子商务 | 计算机软件 </div>
					</div>
					
										<div class="boxInInten01">
						<span>求职性质：</span>
						<div class="rtInInten01">
							全职</div>
					</div>
															<div class="boxInInten01">
						<span>目前工作状态：</span>
						<div class="rtInInten01">
							离职</div>
					</div>
															<div class="boxInInten01">
						<span>期望地点：</span>
						<div class="rtInInten01">
							上海</div>
					</div>
															<div class="boxInInten01">
						<span>期望单位性质：</span>
						<div class="rtInInten01">
							全部</div>
					</div>
															<div class="boxInInten01">
						<span>期望薪水：</span>
						<div class="rtInInten01">
							8000</div>
					</div>
									</div>
			</div>
			

			<!-- 项目经历 -->
						<div class="project-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>项目经历</span>
					</div>
				</div>
				<!-- 项目经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>紫砂商城</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.05 － 2016.08</div> -->
								<div class="jobTime">2015.05 - 2016.08</div>
								<div class="conCom">
																		<p>
										<em>1、协助主管，bug处理，代码开发；
2、负责网站数据库、频道模块的设计与开发；
3、协助主管，进行后台系统等项目开发；
4、按时完成公司下达程度开发的工作任务；
5、协助产品经理，完成网站程序开发的开发。
6、与各部门进行良好沟通、是需求更加明确，有针对性的开发。</em>
									</p>
																	</div>
																<div class="conJob">前台页面的改版，bug修复，后台功能新增功能和bug修复。</div>
															</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			


			<!-- 培训经历 -->
						<div class="project-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>培训经历</span>
					</div>
				</div>
				<!-- 培训经历信息 -->
				<div class="inforWork">
					<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
										<div class="ctInfor">
						<div class="tilEdit">
							<h3>PHP开发</h3>
						</div>
						<div class="boxWork01">
							<div class="maxCir">
								<i class="m-icon i-maxCir"></i>
							</div>
							<div class="conWork">
								<!-- <div class="jobTime">2015.01 － 2015.05</div> -->
								<div class="jobTime">2015.01 - 2015.05</div>
								<div class="conCom">
																		<p>
										<em>青麦国际</em>
									</p>
																	</div>
																<div class="conJob">熟练应用PHP+MySQL技术，能在WAMP环境下熟练编程。
模板引擎：了解Smarty模板引擎技术。
框架技术：,thinkphp框架开发网站。
数据库：熟练应用MySQL数据库，以及使用SQL语言。
前台展现：熟识HTML网页技术，能熟练应用DIV+CSS样式布局设计，熟练应用JavaScrip、Ajax技术实现对于客户端的脚本验证，能够熟练使用Jquery。</div>
								
							</div>
						</div>
					</div>
										<div class="minCir">
						<i class="m-icon i-minCir"></i>
					</div>
				</div>
			</div>
			


			<!-- 专业技能 -->
						<div class="special-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>专业技能</span>
					</div>
				</div>
				<!-- 专业技能信息 -->
				<div class="inforSpecial">
					<ul class="inSpecial01">
												<li><i
							class="l-icon
							 level03
							">优秀</i>
							<p>PHP</p></li> 					</ul>
				</div>
			</div>
			

			<!-- 语言技能 -->
						<div class="lang-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>语言技能</span>
					</div>
				</div>

				<!-- 语言技能信息 -->
				<div class="inforLang">
					<ul>
																		<li><span>英语</span><em>一般</em></li>
						 					</ul>
					<div class="otherLang">
												 					</div>
				</div>
			</div>
			


			<!-- 证书及奖项 -->
						<div class="cert-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>证书及奖项</span>
					</div>
				</div>
				<!-- 证书及奖项信息 -->
				<div class="inforCert">
										<div class="inCert01">
						<i class="m-icon i-trophy1"></i>
						<div class="conInCert">
							<div class="boxInCert">
								<h3>PHP工程师</h3>
							</div>
							<div class="boxInCert">
								<i>2015.05</i> 								<div class="wordInCert">青麦国际</div>
															</div>
						</div>
					</div>
									</div>
			</div>
			
			<!-- 作品展示 -->
			




			<!-- 个人评价 -->
						<div class="evalue-mr">
				<div class="tilPart">
					<div class="dashed"></div>
					<div class="wzPart">
						<span>个人评价</span>
					</div>
				</div>
				<!-- 个人评价信息 -->
				<div class="inforEvalue">本人乐于助人，做事严谨仔细、认真负责，为人正直，诚恳。同时善于观察周围的事物，善于分析问题。也喜欢与他人交往，热爱生活。学习能力较强，刻苦努力，不断要求自己、提升自己。在工作中与团队进行良好的互动，具有良好的沟通能力，对人对事也拥有较足够的耐心和信心,。平时喜欢看一下技术方面的资料，对未来生活和工作充满着期待和憧憬。</div>
			</div>
					</div>
	</div>

		<div class="tagDone">
		<div class="tagDBtn">完成</div>
	</div>
	<!--简历推荐-->
	<div id="feature"></div>
	<div class="footer-mr">http://www.ChinaHR.com
		Email:feedback@corp.chinahr.com 客服热线：400 050 8080</div>

	 			<div class="mask_op">
				<div class="mark_box">
					<div class="mark_right">
						<span class="contactName on"><i class="batchIcon cname"></i>王先生</span>
						<span class="contactPhone"><i class="batchIcon cphone"></i></span>
						<span class="contactMail"><i class="batchIcon cmail"></i></span>
						<div class="opBtns">
							<span data-val="9" class="on green">免费沟通</span> <span
								data-val="8" class="on">查看联系方式</span>
						</div>
					</div>
				</div>
			</div>
			 
			<form id="expForm" name="expForm" target="_blank" method="post">
				<input id="batExpParam" name="batExpParam" type="hidden">
			</form>

			<input type="hidden" id="JobSeekerName"
				value="王先生" /> <input type="hidden"
				id="JobSeekerRealName" value="王新程" /> <input type="hidden"
				id="buid" value="20409020950017" /> <input type="hidden" id="cvid"
				value="6ad6b0e49a83b2570fa504c8j" /> <input type="hidden" id="cuid" value="59bab0e431e8ab57735d2ed3j" />
			<input type="hidden" id="unid" value="0" /> <input
				type="hidden" id="jobid" value="" /> <input type="hidden"
				id="type" value="2" /> <input type="hidden" id="status"
				value="" /> <input type="hidden" id="gtid" name="gtid"
				value="f3685a3e-6c3c-4d30-80ef-68b029d28608">

			<!-- 统计代码start -->
			<script type="text/javascript">
				var _trackURL = "{'channel':'social','pagetype':'resume','page':'comcvdetail_none','area':'',"
						+ "'industry':'','job':'','salary':'','education':'','years':'','keywords':'','gtid':'f3685a3e-6c3c-4d30-80ef-68b029d28608','buid':'20409020950017','cvid':'6ad6b0e49a83b2570fa504c8j'}";
			</script>
			<script src="http://tracklog.58.com/referrer_chinahr_pc.js"></script>
			<!-- 统计代码end -->

			<script src="http://st01.chrstatic.com/themes/bchinahr/js/sea.js?v=1472558655953"></script>
			<script src="http://st01.chrstatic.com/themes/bchinahr/js/sea-config.js?v=1472558655953"></script>
			<script src="http://st01.chrstatic.com/themes/bchinahr/build/js/jquery.js?v=1472558655953"></script>
			<script src="http://st01.chrstatic.com/themes/bchinahr/build/js/resumeView-main.js?v=1472558655953"></script>

			<script id="featureWrapTpl" type="text/html">
				<h3>以下简历可能适合您</h3>
				{{if isShowNext }}
				<div class="more"><i></i>换一换</div>
				{{/if}}
				<ul class="feature-list clear">
					{{include 'featureListTpl'}}
				</ul>
			</script>

			<script id="featureListTpl" type="text/html">

					{{each list as item i}}
					  <li class="panel" data-cvid={{item.cvid}}>
						<a href="{{item.url}}" target="_blank" onclick={{item.log}} >
							<div class="panel-header clear">
								<div class="e1">
									  {{if item.img}}
									  <img src="{{item.img}}" width="50" height="50">
									  {{else if item.gender == 1}}
									  <img src="http://st01.chrstatic.com/themes/bchinahr/build/img/mandefault.png" width="50" height="50">
									  {{else if item.gender == 2}}
									  <img src="http://st01.chrstatic.com/themes/bchinahr/build/img/womandefault.png" width="50" height="50">
									  {{/if}}
								</div>
								<div class="e2" title="相似度得分基于目前所查看简历和浏览记录综合得出">
									<p>相似度：<span class="red">{{item.similarity}}</span></p>
									<div class="process-bar">
										<div class="process-val" style="width:{{item.similarity}};"></div>
									</div>
								</div>
								<div class="e3" title="活跃度得分基于该用户的登陆、投递、被下载等记录综合得出">
									<p>活跃度：<span class="red">{{item.activity}}</span></p>
									<div class="process-bar">
										<div class="process-val" style="width:{{item.activity}}%;"></div>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="e1 clear">
									<b class="ellip">{{item.position}}</b>
									<span>{{item.updateTime}}</span>
								</div>
								<p class="e2">
									<b>{{item.name}}</b>（{{item.age}}&nbsp;&nbsp;&nbsp;{{item.workTime}})<i class="contact" title="在线沟通"></i>
								</p>
								<p class="e3 ellip">
								{{if item.latestWorkCompany}}
								{{item.latestWorkCompany}}
								{{/if}}

								</p>
								<p class="e4 ellip">{{item.colleageName}}<span>·</span>{{item.educationDegree}}</p>
							</div>
							<div class="panel-footer clear">
								{{each item.tags as tag i}}
									{{if i<4}}
										 <span class="btn btn-tag">{{tag}}</span>
									{{/if}}

								{{/each}}

							</div>
						</a>
					</li>
					{{/each}}
			</script>
</body>
</html>
